body{
         background-color: #110120;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-ul{
    display: flex;
    padding: 0px;
    gap: 10px;
    justify-content: center;
    list-style: none;
    font-size: 20px;

}
.home-li{
   background-color: #101010;
    border-radius: 5px;
    transition: 0.5s;
    
}
.home-li:hover{
    background-color: #010101;
}
.home-li a{
    text-decoration: none;
    color: white;

}
h1{
    color: white;
}
.home-img img{
    width: 250px;
    height: 250px;
    border-radius: 25%;
    object-fit: cover;
}
p{
    color: white;
    font-size: large;
}
.about-skill{
    color:white
}
h2{
    color: white;
}
.end-mssg{
    text-align: left;
    color: white;
}
h3{
    color: white;
}
.project-li{
    color: white;
}
.contact-li{
    color: white;
}
.li{
    color: white;

}